%section#cover
  = image_tag "Mucup1.png", {class: 'image-circle', height:'450', width: '538'}
  %h1 Maneja Eventos Caritativos
  %hr.heart-light
  %p.lead
    Sistema para crear eventos sin fines de lucro y seguir su desarrollo mientras llegas a tu meta.
%section#features
  %h2 Características:
  %ul.list-group
    %li.list-group-item
      %span.fa.fa-ticket.fa-lg
      &nbsp;Crear Eventos con un objetivo a conseguir.
    %li.list-group-item
      %span.fa.fa-gift.fa-lg
      &nbsp;Registra donaciones a eventos.
    %li.list-group-item
      %span.fa.fa-trophy.fa-lg
      &nbsp;Realiza sorteos.
    %li.list-group-item
      %span.fa.fa-bank.fa-lg
      &nbsp;Crea cuentas bancarias y monitorea tus depositos.
