.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li.active
      = link_to "Eventos", events_path
    %li
      = link_to "Crear Eventos", new_event_path

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h1.page-header Eventos

  %h2.sub-header Activos
  .row.placeholders
    .col-xs-6.col-sm-3
      .thumbnail
        %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "http://static.independent.co.uk/s3fs-public/styles/article_large/public/thumbnails/image/2016/04/04/10/lionel-messi.jpg", :width => "242"}
        %h3 Lionel Messi
        %p.text-muted El Genio
    .col-xs-6.col-sm-3
      .thumbnail
        %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "http://d1sdtb3jrh1ulb.cloudfront.net/images/16/04/19/320496753db4eae6dadabf9c7b392142/960.jpg", :width => "242", :height=>"200"}
        %h3 Neymar Jr
        %p.text-muted La Alegria
    .col-xs-6.col-sm-3
      .thumbnail
        %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "http://static.independent.co.uk/s3fs-public/styles/article_large/public/thumbnails/image/2016/03/16/22/10.Suarez.jpg", :width => "242"}
        %h3 Luis Suarez
        %p.text-muted El Killer
    .col-xs-6.col-sm-3
      .thumbnail
        %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "https://cdn2.vox-cdn.com/thumbor/Hjw55aQg6uqp-IJsFeIunTxLVxw=/0x255:1997x1586/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/47726325/GettyImages-490792668.0.jpg", :width => "242"}
        %h3 Andres Iniesta
        %p.text-muted El Maestro



  %h2.sub-header Completados
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Header
          %th Header
          %th Header
          %th Header
      %tbody
        %tr
          %td 1,001
          %td Lorem
          %td ipsum
          %td dolor
          %td sit
        %tr
          %td 1,002
          %td amet
          %td consectetur
          %td adipiscing
          %td elit
        %tr
          %td 1,003
          %td Integer
          %td nec
          %td odio
          %td Praesent
        %tr
          %td 1,003
          %td libero
          %td Sed
          %td cursus
          %td ante
        %tr
          %td 1,004
          %td dapibus
          %td diam
          %td Sed
          %td nisi
        %tr
          %td 1,005
          %td Nulla
          %td quis
          %td sem
          %td at
        %tr
          %td 1,006
          %td nibh
          %td elementum
          %td imperdiet
          %td Duis
        %tr
          %td 1,007
          %td sagittis
          %td ipsum
          %td Praesent
          %td mauris
        %tr
          %td 1,008
          %td Fusce
          %td nec
          %td tellus
          %td sed
        %tr
          %td 1,009
          %td augue
          %td semper
          %td porta
          %td Mauris
        %tr
          %td 1,010
          %td massa
          %td Vestibulum
          %td lacinia
          %td arcu
        %tr
          %td 1,011
          %td eget
          %td nulla
          %td Class
          %td aptent
        %tr
          %td 1,012
          %td taciti
          %td sociosqu
          %td ad
          %td litora
        %tr
          %td 1,013
          %td torquent
          %td per
          %td conubia
          %td nostra
        %tr
          %td 1,014
          %td per
          %td inceptos
          %td himenaeos
          %td Curabitur
        %tr
          %td 1,015
          %td sodales
          %td ligula
          %td in
          %td libero
