.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li{:class => (!current_action?('events#new') ? 'active' : nil)}
      = link_to "Eventos", events_path
    %li{:class => (current_action?('events#new') ? 'active' : nil)}
      = link_to new_event_path do
        %span.fa.fa-plus.fa-lg
        Agregar Evento
    %li{:class => (current_action?('events#show') ? 'active' : nil)}
      = link_to @event.name, @event

